<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    {{>headerLinks}}
</head>
<body class="bg d-flex flex-column">
    {{>navbar}}
    <div class="logoutContainer">
        <h1>
            Thank you For visiting !!! 	&#128525;
        </h1>
    </div>
    {{>footer}}
  </body>
</html>